.img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
header{
    top: 0;
    position: sticky;
    background: transparent;
    backdrop-filter: blur(8px);
    z-index: 1;
}
.title{
    font-size: 25px;
    font-weight: bold;
    color: #bac4d3;
    vertical-align: middle;
}
.nav-link{
    color: #bac4d3;
    font-size: 18px;
}
.desc{
    margin: 50px;
}
.devlop-txt{
    color:#1f2125;
    -webkit-text-stroke: 1px rgb(55, 142, 249);
    position: relative;
}
.devlop-txt::before{
    content:attr(data-name);
    position: absolute;
    top: -1;
    width: 0;
    color: rgb(55, 142, 249);
    -webkit-text-stroke: 0vw rgb(55, 142, 249);
    overflow: hidden;
    animation: txt-fill 6s linear infinite;
}
@keyframes txt-fill{
    0%,10%{
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
.heading{
    font-size: 50px;
    font-weight: bold;
}
.subheading{
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
    color: #bac4d3;
}
aside span{
    color: #bac4d3;
    background-image: rgb(5,5,5);
    background-image: radial-gradient(circle, rgba(5,5,5,1) 0%, rgba(7,7,7,1) 60%);
    padding: 15px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: -2px -2px 8px #3e434a;
    
}
aside span:hover{
    cursor: pointer;
    padding: 18px;
    transition: 1s;
}
.skill-pic{
    width: 50px;
    height: 50px;
    padding:10px;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 10px;
    background-image: rgb(5,5,5);
    background-image: radial-gradient(circle, rgba(5,5,5,1) 0%, rgba(7,7,7,1) 60%);
    box-shadow: -2px -2px 8px #3e434a;
}
.portfolio-title{
    color: rgb(55, 142, 249);
    letter-spacing:3px;
}
.portfolio-heading{
    font-size: 45px;
    font-weight:bold ;
    color: #bac4d3;
}
.resume-heading{
    margin-top: 80px;
}
.resume-heading P{
    color: rgb(55, 142, 249);
    letter-spacing:3px;
}
.resume-heading h1{
    font-size: 45px;
    font-weight:bold ;
    color: #bac4d3;
    margin-bottom: 50px;
}

.resume h2, h3{
    color: #bac4d3;
    text-transform: uppercase;
}
.project h2{
    font-size: 45px;
    text-transform: none;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}
.project p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(55, 142, 249);
    letter-spacing:3px;
}
.project-link{
    color: white;
}
.contact P{
    text-align: center;
    color: rgb(55, 142, 249);
    letter-spacing:3px;
}
.contact h1{
    text-align: center;
    font-size: 45px;
    color: #bac4d3;
}
footer hr{
    margin: 100px 10px 0px 10px;
}
.footer-img {
    margin-top: 20px;
    width: 80px; /* adjust size as needed */
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media screen and (orientation:landscape) {
    .pic-box{
        margin: 50px;
        width: 450px;
        height: 500px;
        top: 10px;
        background-color: #1f2125;
        border-radius: 15px;
        box-shadow: 0px 0px 25px rgb(49, 48, 48);
        position: relative;
    }
    .pic{
        position: absolute;
        align-items: center;
        height: 570px;
        transform: translate(20px, -70px);
    }
    .find-txt{
        margin: 50px 0px 50px 0px;
        color: #bac4d3;
        font-size: 20px;
    }
    .skill-txt{
        margin-top: 50px;
        color: #bac4d3;
        font-size: 20px;
    }
    .portfolio-container{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        margin: 20px;
        justify-content: center;
    }
    .design, .web, .tecno{
        margin:15px;
        width: 350px;
        height: 400px;
        background-color:#202327;
        box-shadow: 0px 0px 10px #5a5b5d;
        border-radius: 10px;
    }
    .poster{
        width: 300px;
        height: 200px;
        border-radius: 10px;
        align-items: center;
        margin: 25px;
    }
    .card-title{
        margin: 10px;
        padding-left: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgb(62, 153, 228);
    }
    .card-subtitle{
        margin: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #bac4d3;
    }

    .profile, .education,.skills,.certificate,.project-1,.project-2{
        margin-bottom: 30px;
        color:#e7e9eb;
        width: 400px;
        background-color:#202327;
        box-shadow: 0px 0px 10px #5a5b5d;
        border-radius: 10px;
        padding: 15px;
    }
    .contact-img{
       width: 500px;
    }
}

@media screen and (orientation:portrait) {
    
    ul{
        align-items: end;
        text-align: end;
    }
    .heading{
        font-size: 30px;
        font-weight: bold;
    }
    .subheading{
        text-align:center;
    }
    aside{
        margin-left: -20px;
    }
    
    .find-txt{
        margin-top: 10px;
        margin-bottom: 38px;
        color: #bac4d3;
        font-size: 20px;
    }
    .skill-txt{
        margin-top: 10px;
        color: #bac4d3;
        font-size: 20px;
    }
    .skill-container{
        margin-right: -70px;
    }
    .skill-pic{
        margin-top: 10px;
    }
    .pic-box{
        margin: 30px 0px 0px 15px;
        width: 450px;
        height: 500px;
        top: 10px;
        background-color: #1f2125;
        border-radius: 15px;
        box-shadow: 0px 0px 25px rgb(49, 48, 48); 
    }
    .pic{
        align-items: center;
        height: 570px;
        transform: translate(5px, -70px);
    }
    .portfolio-title{
        margin-top: 15px;
    }
    .portfolio-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .design, .web, .tecno{
        margin:15px;
        width: 400px;
        height: 400px;
        background-color:#202327;
        box-shadow: 0px 0px 10px #5a5b5d;
        border-radius: 10px;
    }
    .poster{
        width: 350px;
        height: 200px;
        border-radius: 10px;
        align-items: center;
        margin: 25px;
    }
    .card-title{
        margin: 10px;
        padding-left: 10px;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgb(62, 153, 228);
    }
    .card-subtitle{
        margin: 20px;
        font-size: 26px;
        font-weight: bold;
        color: #bac4d3;
    }
    
    .profile,.education,.skills,.certificate,.project-1,.project-2{
        margin-bottom: 30px;
        color:#e7e9eb;
        margin-left: 15px;
        width: 400px;
        background-color:#202327;
        box-shadow: 0px 0px 10px #5a5b5d;
        border-radius: 10px;
        padding: 10px;
    }
    .skills ul, .certificate ul{
        text-align: left;
    }
    .contact-img-container{
        display: none;
    }
    .contact-img{
        width: 400px;
    }
}
